body {
  overflow-x: hidden;
}
.image {
  position: static;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.normal-text {
  font-size: 1.3rem;
}
.home-container {
  width: 100vw;
}
.container {
  min-width: 90vw;
}
/* --- SlideShow --- */
.slider-images {
  width: 100vw;
  /* min-width: 100%; */
  /* height: auto; */
}
/* ---- Explore List---  */
.explore-list {
  /* min-width: fit-content;
  height: auto; */
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
.explore-list li {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.explore-image-list {
  width: 130px;
  height: 130px;
}
.explore-list li:hover {
  transform: scale(1.1);
}

/* ---- Top Products ---- */
.parent {
  display: flex;
  min-width: 100%;
  height: 700px;
  justify-content: space-between;
}
.first,
.second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first {
  width: 65.6%;
  height: auto;
}
.second {
  width: 33.6%;
  height: auto;
}
.first-image {
  min-width: 100%;
  height: 49%;
}
.top-products-image-div1 {
  cursor: pointer;
  /* width: 100%;
  height: 100%; */
}
.top-products-image-div2 {
  width: 100%;
  height: 32.5%;
  cursor: pointer;
}
/* ----BlogsList---- */
.blogsList {
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
}
.blog-component {
  width: 32.5%;
}
.blog-div:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
/* ----Particular Blog's  List--- */

.blog-div {
  box-shadow: 0 1px 4px #8080801c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  height: 350px;
  border-radius: 10px;
}
.image-with-text {
  /* min-width: max-content; */
  min-height: 70%;
  /* height: auto; */
}
.text-with-img {
  min-height: 30%;
  line-height: 1.3rem;
  padding: 1rem;
}
.text-wrap-center {
  text-align: center;
}
.blogs-image {
  width: 100%;
  height: 100%;
}
.big-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.heading {
  font-size: 1.2rem;
}
.read-more-btn {
  font-size: 1.1rem;
  color: red;
  background: transparent;
  border: none;
}

@media (max-width: 1000px) {
  .explore-image-list {
    width: 100px;
    height: 100px;
  }
  .container {
    min-width: 90vw;
  }
}
@media (max-width: 800px) {
  .explore-image-list {
    width: 75px;
    height: 75px;
  }
  /* --- SlideShow --- */
  .slider-images {
    height: 400px;
  }
  /* ---- Top Products ---- */
  .parent {
    height: 500px;
  }
  .blog-div {
    height: 300px;
  }
  .text-with-img {
    line-height: 1.1rem;
    padding: 0.5rem;
  }
  .heading {
    font-size: 1rem;
  }
  .read-more-btn {
    font-size: 1rem;
  }
  .container {
    min-width: 100vw;
  }
}
@media (max-width: 600px) {
  .explore-image-list {
    width: 55px;
    height: 55px;
  }
  /* --- SlideShow --- */
  .slider-images {
    height: 300px;
  }
  /* ---- Top Products ---- */
  .parent {
    height: 400px;
  }
  .normal-text {
    font-size: 1.1rem;
  }
  .blog-div {
    height: 230px;
  }
  .image-with-text {
    min-height: 60%;
  }
  .text-with-img {
    min-height: 40%;
    line-height: 1rem;
  }
  .heading {
    font-size: 0.9rem;
  }
  .read-more-btn {
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .explore-image-list {
    width: 45px;
    height: 45px;
  }
  /* --- SlideShow --- */
  .slider-images {
    height: 250px;
  }
  /* ---- Top Products ---- */
  .parent {
    height: 300px;
  }
  .blog-div {
    height: 200px;
  }
  .image-with-text {
    min-height: 50%;
  }
  .text-with-img {
    min-height: 50%;
    line-height: 0.8rem;
    padding: 0.3rem;
  }
  .heading {
    font-size: 0.8rem;
  }
  .read-more-btn {
    font-size: 0.8rem;
  }
}
