.slider-images {
  /* min-width: 100vw; */
  min-width: 100%;
}
.explore-list {
  min-width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.explore-list li {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.explore-list li:hover {
  transform: scale(1.1);
}

.parent {
  display: flex;
  min-width: 100%;
  min-height: 700px;
  justify-content: space-between;
}
.first,
.second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first {
  min-width: 65.6%;
}
.second {
  min-width: 33.6%;
}
.top-products-image-div1 {
  min-width: 100%;
  min-height: 48%;
}
.top-products-image-div2 {
  min-width: 100%;
  min-height: 32%;
}
